/*Global Styling For uniformity*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}


/*Admin Header/navbar flexbox container and background*/
.admin_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: linear-gradient(to right, #E89EB8, #F6D2DE);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 2px 15px #22010624;
}

/*Admin Header/navbar brand logo*/
.logo-img {
    margin-top: -2px;
    height: 85px;   
    width: auto; 
    border: 3px solid #FFF0F5; 
    border-radius: 87%;
}
/*Admin Header/navbar brand name*/
#brand_name{
    color: #960018;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
/*Admin Header/navbar brand logo and brand name container for micro adjustment */
.container a {
    display: flex;
    align-items: center; 
    gap: 5px;   
}

/*Admin Header/navbar buttons
(Navigation Buttons and Action Buttons) 
container for placement*/
.admin_navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #960018;
    font-weight: 500;
    gap: 25px;
    transition: .2s;
}
/*Admin Header/navbar navigation buttons/text 
themselves container for uniformity, 
HOME-ACCOUNT-SCHEDULE-SALES*/
.containerBtn{
    font-size: 23px;
    margin-left: 200px;
    display: flex;
    align-items: center; 
    gap: 30px;  
    cursor: pointer;
}
/*Admin Header/navbar navigation buttons/text 
animation for interactivity*/
a:link, a:visited {
    color:#5c020f;
}
a:hover, 
a.active  {
    color:#FFF0F5;
}



/*Admin Header/navbar Action Buttons 
themselves container for uniformity, 
ADMIN-LOGOUT*/
.containerActn{
    display: flex;
    align-items: center; 
    gap: 10px;
    
}
/*Admin Header/navbar Action Buttons 
Styling, separated for precise styling*/
.logoutBtn, .adminBtn{
    color:#FFF0F5;
    background-color:#960018;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    width: 90px;
    border: none;
    cursor: pointer;
}


/*Admin footer container*/
.adminFooter_bottom{
    background: #B54D73;
    color: #FFF0F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content:center;
    display: flex;
    height: 35px;
    width: 100%;
}