
/*Global Styling For uniformity*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ADMIN DASHBOARD STYLING */

/*Admin Dashboard Backdrop/background/section */
.adminDashboard{
    background: linear-gradient(135deg, #fff, #ffe7ef);
    height: 532px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 188px;
    
}

/*Admin dashboard greetings main container*/
.dashboard_flex{
    background: linear-gradient(135deg, #960018, #f5c4d9);
    display: flex;
    justify-content: center;
    padding-right: 200px;
    align-items: center;
    border-radius: 35px;
    width: 1250px;
    height: 200px;
}

/*Admin dashboard greetings first flexbox for User icon container*/
.dashboard_content:nth-child(1){
    border: 0px solid #000000;
    border-radius: 45px;
    width: 725px;
    height: 777px;
}

/*Admin dashboard greetings User icon container for editing the image itself*/
.dashboard_content:nth-child(1) img{
    height: 550px;
    width: 550px;
}

/*Admin dashboard greetings second flexbox for text container*/
.dashboard_content:nth-child(2){
    padding: 50px 0px 0px 25px;
    color: #ffffff;
    font-size: 30px;
    border: 0px solid #000000;
    border-radius: 45px;
    z-index: 1;
    margin-left: -100px;
    width: 900px;
    height: 250px;

}
/*Admin dashboard greetings, The greetings itself*/
.greetings{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 25px;
    font-weight: 100;
}



/*Admin dashboard Calendar background/ main container of flexbox*/
.table_calendar{
    background: linear-gradient(135deg, #fff, #ffe7ef);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/*Admin dashboard Calendar background/ main container of calendar/table*/
.table_container{
    display: block;
    background-color: #fff9fb;
    border: 0px solid #000000;
    border-radius: 50px;
    width: 1420px;
    height: 580px;
    box-shadow: 0px 0px 28px #5c021071;
}

/*Admin dashboard Calendar effects for interaction*/
.table_container:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 36px #5c021071;
}

/*Admin dashboard Calendar page title, "Schedule For the Week"*/
.table_title{
    color: #960018;
    font-size: 12px;
    padding-left: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0px solid #000000;
    border-radius: 50px 50px 0px 0px;
    height: 65px;
}

/*Admin dashboard Calendar main container of the table for easy micro adjustment inside*/
.table_content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*ADMIN DASHBOARD CALENDAR TABLE STYLING ITSELF*/
table{
    width: 1480px ;
    height: 480px;
    border: solid #9f9c9c3f 1px;
    border-spacing: 10px 0px;
}
tr, td, th{
    border-collapse: collapse;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
th{
    background-color: #9600191e;
    color: #320000;
    font-size: 16px;
    padding: 2px 5px 2px 15px;
    text-align: left;
}
tbody{
    background-color:none;
    color: #868686;
    font-size: 20px; 
}



/*Admin dashboard Calendar Date availability button, set button to unavailable for it to not be clickable*/
.availableBtn{
    color: #ff002b;
    background-color: #ed2b4b21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 75px;
    width: 90px;
    border: none;
}
