*{
    text-decoration: none;
}

.nav_cont{
  display: inline-flex;
  justify-content: left;
}
#dashboard_body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fbe6c9;
  background-color: #be2c26;
  margin: 0;
  padding: 0;
}
.navbar{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fbe6c9;
  text-align: left ;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
}
.navdiv{
  align-items: left;
  justify-content: flex-start;
}
.float-img {
  float: left;
  margin-top: -2px;
  height: 100px;   
  width: auto;   
}
#welcome{
  color: #be2c26;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

