*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.logo-img {
  margin-top: -2px;
  height: 85px;   
  width: auto; 
  border: 3px solid #FFF0F5; 
  border-radius: 87%;
}
.container a {
  display: flex;
  align-items: center; 
  gap: 10px;   
}
.landing_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: #E89EB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 2px 15px #220106a4;
}
.landing_navbar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #960018;
    font-weight: 500;
    margin-left: 25px;
    transition: .2s;
}
.landing_navbar a:hover, 
.landing_navbar a.active {
    color:#FFF0F5;
}
#brand_name{
    color: #960018;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;

}
.home{
    background-image:linear-gradient(to right,#FFF0F5,rgba(0,0,0,0)), 
                    url('photos/home_bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home_content{
    max-width: 700px;
    text-align: left;
}
.home_content h1{
    font-size: 60px;
    font-weight: 700;

}
.home_content .desc_brand{
    font-size: 80px;
    color: #960018;
}
.home_content .landing_button{
    margin-top: 40px;
    width: 475px;
    height: 75px;
}
.landing_button a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 100%; 
    background: #960018;
    border: 2px solid #960018;
    border-radius: 10px;
    font-size: 20px;
    color: #FFF0F5;
    font-weight: 600;
    letter-spacing: 1px;
}
.services{
    background-color: #220106;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: top;
    padding-left: 100px;
    padding-top: 80px; 
}
.services_title{
    font-size: 55px;
    color: #FFF0F5;
    text-align: center;
}
.img_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.img_cont h1{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.service_img1, .service_img2, .service_img3{
    align-items: center;
    margin-top: 75px;
    border: .5px solid #000000;
    box-shadow: 0px 1px #000000;
    border-radius: 50px;
    width: 550px;
    height: 275px;
    
}
.contact{
    background: #FFF0F5;
    color: #220106;
    height: 80vh;
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 0 10%;
}
.contact_title{
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
}
.contact_cont{
    margin-top: 50px;
    background-color: #FFF0F5;
    border: 1px hidden #5c020f;
    box-shadow: 0px 0px 75px 5px #daa1a1;
    width: 1500px;
    height: 600px; 
}
.contact_content{
    margin-top: 25px;
    align-items: center;

}
.about{
    box-shadow: 0px -1px 7px #22010648;
    background: #FFF0F5;
    height: 65vh;
    display: flex;
    align-items: top;
    padding: 0 10%;
}.about_title{
    margin-top: 35px;
    font-size: 55px;
    text-align: center;

}
.landing_footer{
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 10px 10%;
    background: #960018;
    align-items: center;
    justify-content:space-between;
    display: flex;
    z-index: 100;

}
.footer_content{
    align-items: center;
}
.footer_content .socials{
    align-items: center;
    display: flex;
}
.footer_content h2{
    color: #FFF0F5;
    font-size: 20px;
}

.footer_content a, .footer_content h3{
    color: #FFF0F5;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.footer_content a:hover, 
.footer_content a.active {
    color:#E89EB8;
}


.social_fb{
    margin-top:8px;
    width: 20px;
    height: 20px;

}
.social_phone{
    margin-top:8px;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

