.landing_footer{
    color: #FFF0F5;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    padding: 5px 10%;
    background: #5c020f;
    align-items: center;
    justify-content:center;
    display: flex;
    z-index: 100;
}
#fbrand_name{
    color: #fffab4;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
.footer_container a{
    display: block;
    align-items: center;   
}
.footer_content{
    margin-left: 200px;
    align-items: center;
}
.footer_content a{
    margin-bottom: 3px;
    display: block;
    margin-right: 75px;
    font-weight: bold;
    color: #FFF0F5;
    font-size: 20px;
}
.social_fb{
    margin-top:8px;
    width: 20px;
    height: 20px;

}
.social_phone{
    margin-top:8px;
    width: 20px;
    height: 20px;
}
.footer_bottom{
    background-color: #fffab4;
    color:#960018;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content:center;
    display: flex;
    height: 35px;
    width: 100%;
}