
/*Register Page main container/background*/
.reg_info{
    background-color:#fdf6f9;
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Register Page main container for registration panel*/
.reg_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 60%;
    width: 1200px;
    background-color: #FFF0F5;
    border: 0px solid #5c020f;
    text-align: center;
    box-shadow: 0px 0px 50px 5px #5c0210be;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: stretch;
    overflow: hidden;
}
/*Register Page main container for what's inside the panel*/
.reg_inside{
    align-self: center;
    color: #960018;
}
/*Register Page main container for image on the side of registration*/
.reg_inside:nth-child(1) {
    background-image:linear-gradient(to top right,#5c020f,#5c0210bd, #fff0f541), 
                    url('photos/nail_art.png');
    background-size: cover;
    background-position: 0px 0px;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 280px;
}
/*Register Page main container of registration materials*/
.reg_inside:nth-child(2) {
    border: 0px solid #5c020f;
    border-radius: 27px;
    flex-grow: 1;
    height: 100%;
    margin-left: -20px;
    z-index: 1;
    background-color: #FFF0F5;
}
/*Register Page brand name on top of image*/
.brand-in{
    font-size: 25px;
    margin-top: 13px;
    margin-left: 18px;
    text-align: left;
    color: #FFF0F5;
}
/*Register Page tagline on top of image*/
.brand-container{
    font-size: 18px;
    margin-left: 20px;
    text-align: left;
    color: #FFF0F5;
}
/*Register Page text styling*/
.reg_text{
    color: #960018;
    font-size: 35px;
}
/*Register Page register button styling*/
.reg_box{
    color: #FFF0F5;
    background-color: #960018;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}






/*Login Page main container/background*/
.login_info{
    background-color: #fdf6f9;
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Login Page main container for registration panel*/
.login_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 60%;
    width: 1200px;
    background-color: #5c020f;
    border: 0px solid #FFF0F5;
    text-align: center;
    box-shadow: 0px 0px 25px 3px #5c0210be;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: stretch;
    overflow: hidden;
}
/*Login Page main container for what's inside the panel*/
.login_inside{
    align-self: center;
    color: #FFF0F5;
}
/*Login Page main container for image on the side of registration*/
.login_inside:nth-child(1){
    background-image:linear-gradient(to top right,#FFF0F5,#fff0f596, #fff0f541), 
                    url('photos/nail_art.png');
    background-size: cover;
    background-position: 0px 0px;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:280px;
    
}
/*Login Page main container of registration materials*/
.login_inside:nth-child(2){
    border: 0px solid #FFF0F5;
    border-radius: 27px;
    flex-grow: 1;
    height: 100%;
    margin-left: -20px;
    z-index: 1;
    background-color: #5c020f;
}
/*Login Page brand name on top of image*/
.brand-in-login{
    font-size: 25px;
    margin-top: 13px;
    margin-left: 18px;
    text-align: left;
    color: #5c020f;
}
/*Login Page tagline on top of image container*/
.brand-container-login{
    margin-left: 18px;
    font-size: 20px;
    text-align: left;
    color: #5c020f;
} 

.login_text{
    color: #FFF0F5;
    font-size: 35px;
}

.login_box{
    color: #960018;
    background-color: #FFF0F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}




/*Login and Register Page tagline styling*/
.tagline_in{
    font-weight: lighter;
   
}
.tagline_in2{
    font-weight: lighter;
   
}
/*Login and Register Page content container*/
.info_container{
    margin-top: 15%;
}

/*Login and Register Page text box and label container for position and styling*/
.username, .password {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: 25px;
    width: 280px; 
    margin: auto; 
    display: block; 
    padding-left: 10px;
}
.login_cont:hover{
    color: #ff0357;
}
.login_cont:focus{
    color: #ff0357;
}
.login_cont2:hover{
    color: #ff0357;
}
.login_cont2:focus{
    color: #ff0357;
}

.reg_cont:hover{
    color: #ff0303;
}
.reg_cont:focus{
    color: #ff0303;
}
.reg_cont2:hover{
    color: #ff0303;
}
.reg_cont2:focus{
    color: #ff0303;
}

.username_reg, .password_reg {
    background-color: #ffffff;
    border: 2px solid #5c020f;
    border-radius: 25px;
    height: 25px;
    width: 280px; 
    margin: auto; 
    display: block; 
    padding-left: 10px;
}

.username:hover, .password:hover{
    border:2px solid #ff0357;
}
.username:focus, .password:focus{
    border:2px solid #ff0357;
}
.username_reg:hover, .password_reg:hover{
    border:2px solid #ff0357;
}
.username_reg:focus, .password_reg:focus{
    border:2px solid #ff0357;
}
/*Login and Register Page redirect to each other links*/
.register_link:link , .login_link:link{
  color: #dd634e;
}
.register_link:visited, .login_link:visited {
  color: #dd634e;
}
 .login_link:hover {
  color: #7e0015; 
}
.register_link:hover{
    color: #f0cac3
}

